*, *:before, *:after {
	border: 0px solid grey;
	box-sizing: border-box;

}


span {
	display: inline-block;
}
body {
	margin: 0px;
	padding: 0px;
	background: url(../img/Triangle-White-Seamless-Patterns.jpg);
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}

figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

.no-display {
	display: none;
}

.fit {
	height: 100%;
	width: 100%;
}

.flex {
	display: table;
	display: flex;
}

.flex-1 {
	flex: 1;
}

.flex-wrap {
	flex-wrap: wrap;
}

.container {
	width: 100%;
}

.container-inner {

	width: 100%;
	padding: 10px 30px;
	box-sizing: border-box;
	margin: auto;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}


.white-content {
	background: white;
}


/* ---------- TOP LINE ----------*/
.top-menu-line {
	background: lightgrey;

}

.top-menu {
	display: inline-block;
}

.top-menu a {
	color: grey;
	text-decoration: none;
}

.top-menu > ul > li + li {
	margin-left: 20px;
}

.top-menu ul {
	list-style-type: none;
	flex: 1;
}

.top-menu ul li {
	display: inline-block;
}
/* --------- NAVIGACIJA ---------- */

.nav {
	background: lightgrey;
}

.nav ul {
	margin: 0;
}

.nav ul li {
	list-style-type: none;
	display: inline-block;
}

.nav ul > li + li {
	margin-left: 20px;
}


.nav ul li a {
	text-decoration: none;
	color: darkgrey;
}


/* --------- SLIDER ----------- */
.slider {
	text-align: center;
	position: relative;
	box-shadow: 1px 1px 5px 0px darkgrey;
}


.slide {
	max-width: 700px;
	width: 100%;
	height: 300px;
	vertical-align: middle;
	display: inline-block;
}

.slide-left {
	background: linear-gradient(to right, lightgrey, grey);
	left: 10px;
}

.slide-right {
	right: 10px;
	background: linear-gradient(to left, lightgrey, grey);
}

.slide-left, .slide-right {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0.7;
	display: inline-block;
	z-index: 100;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 5px;
}

/*.slide-left:hover { 
	transform: scale(2);
	left: 20px;
	transform: translateY(-50%);
}*/


/*.slide-right:hover { 
	top: 50%;
	right: 20px;
	transform: scale(1.5);
}*/


/* SLides */


.slide-1 {
	background: url(../img/uzdegimo-zvakes-akcija.jpg);
	background-repeat: none;
	background-size: cover;
	background-position: center;
}

.slide-2 {
	background: url(../img/24_7-banner.png);
	background-repeat: none;
	background-size: cover;
	background-position: center;
}

.slide-3 {
	background-image: attr(img-url);
	background-repeat: none;
	background-size: cover;
	background-position: center;
}

.slide-4 {
	background: url(../img/services_banner.png);
	background-repeat: none;
	background-size: cover;
	background-position: center;
}

.slide-5 {
	background: url(../img/securexpo-banner-600x300.jpg);
	background-repeat: none;
	background-size: cover;
	background-position: center;
}

.slide-6 {
	background: url(../img/services_banner.png);
	background-repeat: none;
	background-size: cover;
	background-position: center;
}



/* ------------- BREADCRUMBS -------------- */

.container-inner-breadcrumbs {
	padding: 0px 50px;
}

/* ------------- SIDE NAVIGATION -------------- */
.side-menu {
	margin-right: 0px;
	border: 1px solid darkgrey;
}

.side-menu-length {
	width: 200px;
}

.side-menu-title {
	padding: 5px 10px;
	background: #4AB1CE;
}

.side-menu-list {
	padding: 0px 5px;

}

.side-menu-list a {
	padding: 5px 10px;
	display: block;
}

.side-menu-list ul li {
	list-style-type: none;
	border-bottom: 1px dashed grey;

}

.side-menu-list ul li:last-of-type {
	border-bottom: 0px dashed grey;
}

/* ------------ CONTENT ------------- */

.content {
	width: calc(100%-200px);
}

/* ------------- SHOP ITEMS ------------- */

.shop-items {
	border: 0px solid grey;

}


.shop-items footer {
	position: relative;
	bottom: 0px;
	right: 0px;
}

.item {
	padding: 4px;
}

.item-content {
	vertical-align: top;
	position: relative;
	display: inline-block;

	

	border: 1px solid grey;
	border-radius: 7px;
	padding: 5px;
	text-align: center;
}

.item figure {
	width: 100%;
	height: 100px;
	text-align: center;

}

.item figure img {
	height: 100px;
	width: 100px;
	background: url(../img/default_lg.png);
	background-size: 100%;
}


.item-foto {
	overflow: hidden;
	position: relative;
}


.item-description {
	text-align: left;
}

.item-discount {
	position: absolute;
	bottom: 10px;
	left: -5px;
	background: orange;
	padding: 10px;
	width: 50px;
	height: 50px;
	color: white;
	font-weight: 900;
	border-radius: 50%;
	text-align: center;
	box-shadow: 5px 5px grey;
}



.item .price-del {
	text-align: right;
	text-decoration: line-through;
	font-weight: normal;
	font-size: 80%;
	color: grey;
}

.item .price {
	text-align: right;
	font-weight: bolder;
}

.add-to-cart {
	text-align: right;
	padding: 5px 0px;
}

.btn-add-to-cart {
	padding: 7px 10px;
	background: #4AB1CE;
	text-align: center;
	color: #348FA9;
}


/* ---------- FOOTER --------- */

.footer {
	background: lightgrey;
}

/*---------------------*/

.copy:before {
	padding: 20px;
	background: red;
	content: attr(asd);
}

/*PURE G FIX */
.pure-g {
	letter-spacing: 0;
}